include pyproject.toml
recursive-include dwave/preprocessing/include/ *.hpp *.h
recursive-include dwave/preprocessing/src/ *.hpp *.cpp
recursive-include dwave/preprocessing *.pyx *.pxd *.pyx.src
graft extern/spdlog/include/
include extern/spdlog/LICENSE
