[build-system]
requires = [
    "setuptools>=46.4.0",
    "wheel>=0.30.0",
    "Cython>=0.29.21,<3.0",
    'numpy==1.19.5;python_version<"3.10"',
    'numpy==1.21.4;python_version>="3.10"',
    "dimod==0.11.0rc0",
]
build-backend = "setuptools.build_meta"
